body {
    margin: 0;
  }

  canvas {
    width: 100vw;
    height: 100vh;
  }

  #restart-btn {
    font-size: 64px;
    border: solid 2px black;
    background-color: #F9A7B0;
    padding: 8px 16px;
    border-radius: 5%;
    position: absolute;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    font-family: 'Courier New', Courier, monospace;
  }

  #restart-btn.showbutton {
    display: block;
  }